[submodule "vivado-risc-v"]
	path = vivado-risc-v
	url = https://github.com/eugene-tarassov/vivado-risc-v
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
